@import "tailwindcss";
@import "@decadez/web-dev-ui/styles.css";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../../packages/web-dev-ui/src/**/*.{ts,tsx}";
@source "./**/*.{ts,tsx}";

@theme {
  --font-sans: "Jost", sans-serif;
  --color-bglight: #f9fafb;
  --color-marrslight: #bfc8f8;
  --color-marrsgreen: #8f79d9;
  --color-marrsdark: #4a416a;
  --color-bloglavender: #e3c9fa;
  --color-blogperiwinkle: #bfc8f8;
  --color-blogmist: #dcebfa;
  --color-blogice: #f4f8fc;
  --color-blogink: #4a416a;
  --color-blogviolet: #8f79d9;
  --color-blogdark: #1c1930;
  --color-blogcarddark: #26233b;
  --color-cardlight: #eff3f3;
  --color-bgdark: #1d2a35;
  --color-carrilight: #dcebfa;
  --color-carrigreen: #e3c9fa;
  --color-carridark: #bfc8f8;
  --color-carddark: #22323f;
  --color-textlight: #f9fafb;
}

body {
  font-family: var(--font-sans);
}

.glassmorphism {
  background-clip: padding-box;
  backdrop-filter: blur(24px);
  background-color: rgb(249 250 251 / 0.5);
}

.lower-glassmorphism::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(24px);
}

.link-outline {
  outline-color: #8f79d9;
}
